@import "tailwindcss";

:root {
  --foreground: #1d1e20;
  --brand-blue: #416bd7;
  --brand-dark: #101840;
}

body {
  color: var(--foreground);
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}
